$main: #FF7010;
$gray: #F0F0F0;
$hover: #FF6600;

*, *::after, *::before{
    box-sizing: border-box;
}

button{
    border: 0;
    cursor: pointer;
}

.btn{
    background-color: $main;
    border-radius: 4px;
    border: 0;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.header__foot.active{
    position: fixed;
    top: 0;
    padding: 12px 0;
}

body{
    background: #F0F0F0;
    font-family: inter;
    color: #191910;
}

.container{
    max-width: 1290px;
    padding: 0 10px;
    margin: 0 auto;
}


.header__head, .header__foot{
    background-color: #fff;
    width: 100%;
}

.header__foot{
    z-index: 2;
}

/* header head start */

.header__head{
    padding: 10px 0;
}

.menu{
    display: flex;
    justify-content: space-between;
}

/* header left start */
.header__left, .header__right{
    display: flex;
    justify-content: space-between;
}

.header__fall-item{
    padding: 0 20px 0 28px;
    display: inline;
    position: relative;
    cursor: pointer;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 13px;
        height: 20px;
        margin-left: 3.5px;
        background: url("../img/address.svg") no-repeat center;
    }
    &::after{
        content: "";
        position: absolute;
        right: 0;
        top: 23%;
        width: 12px;
        height: 12px;
        background: url("../img/Arrow down.svg") no-repeat center;
    }
}

.header__left li + li{
    margin-left: 40px;
}

.header__item{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #191910;
    transition: 0.3s;
    span{
        font-weight: 700;
    }
    &:hover{
        color: $main;
    }
}

/* header left end */
/* header right start */

.header__right li + li{
    margin-left: 40px;
}

.header__acc-item{
    padding-left: 28px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        margin-left: 2px;
        background: url("../img/Account.svg") no-repeat center;
    }
}

/* header right end */
/* header head end */
/* header foot start */

.header__foot-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__btn{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    img {
        padding-right: 8px;
    }
    &:hover{
        background-color: $hover;
        box-shadow: 0 0 15px $main;
    }
}

.menu__list-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    > li + li {
        margin-left: 32px;
    }
    > li:last-child{
        cursor: pointer;
        position: relative;   
        padding-right: 20px;
        &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 23%;
            width: 12px;
            height: 12px;
            background: url("../img/Arrow down.svg") no-repeat center;
        } 
        p{
            user-select: none;
        }
    }
}

.menu__inner{
    display: none;
    position: absolute;
    left: -150%;
    margin-top: 31px;
    background-color: #fff;
    border: 1px solid #F0F0F0;
    box-shadow: 0px 2px 8px rgba(25, 25, 25, 0.1);
    border-radius: 12px;
    width: 265px;
    height: 304px;
    padding: 26px 20px;
    > li + li {
        margin-top: 16px;
    }
    &::before{
        content: "";
        position: absolute;
        width: 16px;
        height: 8px;
        border-bottom: 8px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        top: -2.5%;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
    }
}

/* header foot end */
/* header end */
.nav_fill{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.nav_fill .block{
    width: 135px;
    height: 104px;
    border-radius: 12px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #ffff;
    cursor: pointer;
}

.nav_fill .block1{
    color: #E23535;
}

.nav_fill .block img{
    margin-top: 20px;
    margin-bottom: 8px;
}

.hero_category .container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.hero_category .container .blocks{
    width: 300px;
    height: 343px;
    cursor: pointer;
}

.hero_category .container .blocks .text{
    margin: 267px 20px 40px 20px;
    max-width: 190px;
    line-height: 28px;
    font-size: 20px;
    color: #fff;
}

.hero_category .container .blocks .text2{
    max-width: 240px;
}
.hero_category .container .blocks .text4{
    max-width: 240px;
}


.hero_category .container .block1, .block3{
    background: url(../img/Group_737.png);
}

.hero_category .container .block2, .block4{
    background: url(../img/Group_738.png);
}

.hero_adress{
    display: flex;
    justify-content: center;
    margin-top: 58px;
    text-align: center;
    align-items: center;
}

.hero_adress .text{
    font-size: 18px;
    margin-bottom: 30px;
}

.hero_adress_input input{
    width: 783px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #F0F0F0;
    padding-left: 12px;
}

.hero_adress_input button{
    padding: 13px 32px;
    background: #FF7010;
    border: none;
    border-radius: 6px;
    color: #fff;
    transition: 0.3s;
    &:hover{
        background-color: $hover;
        box-shadow: 0 0 15px $main;
    }
}

.tovars_pizza{
    margin-top: 30px;
}

.pizza_header{
    display: flex;
    justify-content: space-between;
}

.pizza_header, .susi_header h2{
    font-size: 40px;
}

.pizza_header button{
    display: flex;
    align-items: center;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    padding: 9px 16px;
    background: #FFFF;
}

.pizza_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
}

.block{
    width: 300px;
    height: 480px;
    border-radius: 12px;
    background: #FFFF;
}

.pizza_tovars img[src="img/lable.png"]{
    position: absolute;
    margin-top: 20px;
}

.pizza_tovars img[src="img/lable2.png"]{
    position: absolute;
    margin-top: 20px;
}

.pizza_tovars .text{
    padding: 0px 20px;
    margin-top: 16px;
}

.pizza_tovars .text h3{
    font-size: 18px;
}

.pizza_tovars .text p{
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
}

.pizza_btn{
    margin-top: 39px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza_btn button{
    padding: 13px 32px;
    background: #FF7010;
    border-radius: 6px;
    border: none;
    color: white;
    transition: 0.3s;
    &:hover{
        background-color: $hover;
        box-shadow: 0 0 15px $main;
    }
}

.pizza_btn h3{
    font-size: 18px;
    color: #FF7010;
}

.popup{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(32px);
    background: rgba(25, 25, 25, 0.4);
}

.popup_body{
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    max-height: 623px;
    width: 990px;
    border-radius: 24px;
}

.popup_content{
    display: flex;
    padding-top: 32px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.popup_photo_content{
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 95px;
    img{
        width: 450px;
        height: 450px;
    }
}

.content_1_title{
    display: flex;
    align-items: center;
    img{
        height: 24px;
        width: 24px;
        margin-right: 8px;
    }
}


.content_1_container_fill{
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    h3{
        font-weight: 400;
    }
}

.container_fill_2{
    h3{
        color: #A5A5A5;
    }
}
.container_content{
    width: 110px;
    height: 105px;
    background: #F0F0F0;
    border-radius: 12px;
    margin: 10px;
    margin-left: 5;
    margin-right: 10px;
    margin-top: 16px;
    img{
        height: 40px;
        width: 40px;
        padding-top:calc(50% - 20px); 
    }
}

.conent_2_type{
    display: flex;
}

.type{
    font-family: inter;
    background: none;
    padding: 13px 90px;
    border: #d4d4d4 1px solid;
    border-radius: 6px;
}

.type.active{
    background: #FF7010;
    color: white;
}

.type_2{
    background: none;
    padding: 10px 56px;
    margin-top: 16px;
    margin-right: 21px;
    border: #d4d4d4 1px solid;
    border-radius: 6px;
}

.type_2.active{
    background: #FF7010;
    color: white;
}

.content_3_add{
    h2{
        margin-top: 15px;
    }
}

.container_add{
    display: flex;
    text-align: center;
    margin-bottom: 37px;
    h3{
        text-align: center;
        font-weight: 400;
        margin-bottom: 4px;
    }
    p{
        color: #FF7010;
    }
    .container_fill_2{
        h3{
            color: #000;
        }
    }
}

.marg{
    margin-top: 30px;
}

.susi{
    margin-top: 46px;
}

.susi_header{
    display: flex;
    justify-content: space-between;
}

.susi_header button{
    display: flex;
    align-items: center;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    padding: 9px 16px;
    background: #FFFF;
}

.susi_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
}

.susi_tovars img[src="img/lable.png"]{
    position: absolute;
    margin-top: 20px;
}

.susi_tovars img[src="img/lable2.png"]{
    position: absolute;
    margin-top: 20px;
}

.susi_tovars .text{
    padding: 0px 20px;
    margin-top: 16px;
}

.susi_tovars .text h3{
    font-size: 18px;
}

.susi_tovars .text p{
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
}

.susi_btn{
    margin-top: 26px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.susi_btn button{
    padding: 13px 32px;
    background: #FF7010;
    border-radius: 6px;
    border: none;
    color: white;
    transition: 0.3s;
    &:hover{
        background-color: $hover;
        box-shadow: 0 0 15px $main;
    }
}

.susi_btn h3{
    font-size: 18px;
    color: #FF7010;
}


.snacs{
    margin-top: 46px;
}

.snacs_header{
    display: flex;
    justify-content: space-between;
}

.snacs_header h2{
    font-size: 40px;
}

.snacs_header button{
    display: flex;
    align-items: center;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    padding: 9px 16px;
    background: #FFFF;
}

.snacs_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
}

.snacs_tovars img[src="img/lable.png"]{
    position: absolute;
    margin-top: 20px;
}

.snacs_tovars img[src="img/lable2.png"]{
    position: absolute;
    margin-top: 20px;
}

.snacs_tovars .text{
    padding: 0px 20px;
    margin-top: 16px;
}

.snacs_tovars .text h3{
    font-size: 18px;
}

.snacs_tovars .text p{
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
}

.snacs_btn{
    margin-top: 26px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snacs_btn button{
    padding: 13px 32px;
    background: #FF7010;
    border-radius: 6px;
    border: none;
    color: white;
    transition: 0.3s;
    &:hover{
        background-color: $hover;
        box-shadow: 0 0 15px $main;
    }
}

.snacs_btn h3{
    font-size: 18px;
    color: #FF7010;
}

.deserts{
    margin-top: 46px;
}

.deserts_header{
    display: flex;
    justify-content: space-between;
}

.deserts_header h2{
    font-size: 40px;
}

.deserts_header button{
    display: flex;
    align-items: center;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    padding: 9px 16px;
    background: #FFFF;
}

.deserts_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
}

.deserts_tovars img[src="img/lable.png"]{
    position: absolute;
    margin-top: 20px;
}

.deserts_tovars img[src="img/lable2.png"]{
    position: absolute;
    margin-top: 20px;
}

.deserts_tovars .text{
    padding: 0px 20px;
    margin-top: 16px;
}

.deserts_tovars .text h3{
    font-size: 18px;
}

.deserts_tovars .text p{
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
}

.deserts_btn{
    margin-top: 26px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deserts_btn button{
    padding: 13px 32px;
    background: #FF7010;
    border-radius: 6px;
    border: none;
    color: white;
    transition: 0.3s;
    &:hover{
        background-color: $hover;
        box-shadow: 0 0 15px $main;
    }
}

.deserts_btn h3{
    font-size: 18px;
    color: #FF7010;
}

.drink{
    margin-top: 46px;
}

.drink_header{
    display: flex;
    justify-content: space-between;
}

.drink_header h2{
    font-size: 40px;
}

.drink_header button{
    display: flex;
    align-items: center;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    padding: 9px 16px;
    background: #FFFF;
}

.drink_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
}

.drink_tovars img[src="img/lable.png"]{
    position: absolute;
    margin-top: 20px;
}

.drink_tovars img[src="img/lable2.png"]{
    position: absolute;
    margin-top: 20px;
}

.drink_tovars .text{
    padding: 0px 20px;
    margin-top: 16px;
}

.drink_tovars .text h3{
    font-size: 18px;
}

.drink_tovars .text p{
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
}

.drink_btn{
    margin-top: 26px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drink_btn button{
    padding: 13px 32px;
    background: #FF7010;
    border-radius: 6px;
    border: none;
    color: white;
    transition: 0.3s;
    &:hover{
        background-color: $hover;
        box-shadow: 0 0 15px $main;
    }
}

.drink_btn h3{
    font-size: 18px;
    color: #FF7010;
}

.block_mini{
    width: 300px;
    height: 424px;
    border-radius: 12px;
    background: #FFFF;
}

.souse{
    margin-top: 46px;
}

.souse_header h2{
    font-size: 40px;
}

.souse_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
}

.souse_tovars img[src="img/lable.png"]{
    position: absolute;
    margin-top: 20px;
}

.souse_tovars img[src="img/lable2.png"]{
    position: absolute;
    margin-top: 20px;
}

.souse_tovars .text{
    padding: 0px 20px;
    margin-top: 16px;
}

.souse_tovars .text h3{
    font-size: 18px;
}

.souse_btn{
    margin-top: 26px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.souse_btn button{
    padding: 13px 32px;
    background: #FF7010;
    border-radius: 6px;
    border: none;
    color: white;
    transition: 0.3s;
    &:hover{
        background-color: $hover;
        box-shadow: 0 0 15px $main;
    }
}

.souse_btn h3{
    font-size: 18px;
    color: #FF7010;
}

.combo{
    margin-top: 46px;
}

.combo_header{
    display: flex;
    justify-content: space-between;
}

.combo_header h2{
    font-size: 40px;
}

.combo_header button{
    display: flex;
    align-items: center;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    padding: 9px 16px;
    background: #FFFF;
}

.combo_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
}

.combo_tovars .text{
    padding: 0px 20px;
    margin-top: 16px;
}

.combo_tovars .text h3{
    font-size: 18px;
}

.combo_tovars .text p{
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
}

.combo_btn{
    margin-top: 26px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.combo_btn button{
    padding: 13px 32px;
    background: #FF7010;
    border-radius: 6px;
    border: none;
    color: white;
    transition: 0.3s;
    &:hover{
        background-color: $hover;
        box-shadow: 0 0 15px $main;
    }
}

.combo_btn h3{
    font-size: 18px;
    color: #FF7010;
}

.about .text h2{
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 190px;
}

.about .text h3, .aboutp{
    font-size: 16px;
    line-height: 22px;
}

.about .text h3{
    margin-top: 30px;
    margin-bottom: 13px;
}

.blocs{
    width: 850px;
    height: 308px;
    margin: 0 auto;
}

.footer .footer_content{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.footer{
    background: #fff;
}

.logo_footer p{
    margin-top: 146px;
}

.logo_footer>.logo{
    display: flex;
    align-items: center;
}

.about_footer{
    line-height: 30px;
}

.about_footer h2{
    margin-bottom: 12px;
}

.help_footer{
    line-height: 30px;
}

.help_footer h2{
    margin-bottom: 12px;
}

.contacts{
    max-width: 299px;
    line-height: 30px;
}

.contacts h2{
    margin-bottom: 20px;
}

.contact_fb, .contact_ig{
    display: flex;
    align-items: center;
    p{
        margin-right: 24px;
    }
    img{
        width: 20px;
        height: 20px;
    }
}

.conttt{
    display: flex;
}

.contacts img{
    margin-right: 12px;
}